.slider {
    display: flex;
    font: .8em sans-serif;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    position: relative;
    text-shadow: 3px;
    font-size: .8em;    
}