.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('../public/freenaturestock-1320.jpeg');
  height: 1600px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  min-width: 880px;
  padding:  10px;
}



@media (prefers-reduced-motion: no-preference) {
  
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  width: 80%;
  height: 100%;
  border-radius: 20px;
}


.daily-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 90%;
  max-width: 1080px;
  min-width: 760px;
  height: 40%;
  border-radius: 20px;
}

.daily-wrap:before {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: .5;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-color: rgb(35, 106, 229);
  background-position: 50% 0;
  background-size: cover;
  border-radius: 20px;
}

.daily-content {
  position: relative;
  text-shadow: 3px;
  font-size: 1.35em;
}

.top-row-today{
  border: 10px;
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bottom-row-today {
  border: 10px;
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.column {
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  background: white;
  height: 90%;
  width: 1px;
  border-radius: 50px;
  opacity: 18%;
}

.time {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  font: 1em sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.search-container {
  width: 90%;
  margin: 20 auto;
  height: 19%;
  color: black;
}
.location {
  height: 27%;
}
.icon-container-current  {
  height: 45%;
}
.weather-description {
  height: 20%;
}
.title{
  height: 100%;
  width: 100%;
  margin: 0px;
  font-size: 2em;
}
    
.checkit {
  display: 'flex'; 
  flex-direction: 'column';
  align-items: center;
  justify-content: space-between;
}

.big-icon-container {
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 2em;
}
.wide{
  width: 60%;
}