@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('../public/freenaturestock-1320.jpeg');
  height: 1800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  min-width: 100vw;
  padding:   0px 0px 10px 0px;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  width: 95%;
  height: 100%;
  border-radius: 20px;
  margin-top: 150px;
}


.no-location-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 80%;
  height: 60%;
  border-radius: 20px;
}


.no-location-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 90%;
  max-width: 1080px;
  min-width: 760px;
  height: 40%;
  border-radius: 20px;
}


.no-location-wrap:before {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .5;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-color: rgb(35, 106, 229);
  background-position: 50% 0;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}



.daily-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 90%;
  max-width: 1080px;
  min-width: 760px;
  height: 40%;
  border-radius: 20px;
}

.daily-wrap:before {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: .5;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-color: rgb(35, 106, 229);
  background-position: 50% 0;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}




.weekly-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 90%;
  max-width: 1080px;
  min-width: 760px;
  height: 25%;
  border-radius: 20px;
}

.weekly-wrap:before {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: .5;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-color: rgb(35, 106, 229);
  background-position: 50% 0;
  background-size: cover;
  border-radius: 20px;
}

.detail-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 90%;
  max-width: 1080px;
  min-width: 760px;
  height: 13%;
  border-radius: 20px;
}
@media only screen and (max-width: 600px){
  

}
.detail-wrap:before {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-color: rgb(35, 106, 229);
  background-position: 50% 0;
  background-size: cover;
  border-radius: 20px;
}


.detail-content {
  position: relative;
  text-shadow: 3px;
  font-size: 1.35em;
}


.no-location-content {
  position: relative;
  text-shadow: 3px;
  font-size: 1.35em;
}


.hourly{
  width: 100%;
  display: flex;
  font: 1em sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  text-shadow: 3px;
  font-size: 1.35em;
}





@media only screen and (max-width: 600px) {
  
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('../public/freenaturestock-1320.jpeg');
  height: 1800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  min-width: 100vw;
  padding:   0px 0px 10px 0px;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-top: 0px;
}


.no-location-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 80%;
  height: 60%;
  border-radius: 20px;
}


.no-location-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 90%;
  max-width: 100vw;
  min-width: 100vw;
  height: 40%;
  border-radius: 20px;
}


.no-location-wrap:before {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .5;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-color: rgb(35, 106, 229);
  background-position: 50% 0;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}



.daily-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  max-width: 100vw;
  min-width: 100vw;
  height: 50%;
  border-radius: 20px;
}

.daily-wrap:before {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-betweens;
  opacity: .5;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-color: rgb(35, 106, 229);
  background-position: 50% 0;
  background-size: cover;
  border-radius: 0px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}




.weekly-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 100%;
  max-width: 100vw;
  min-width: 100vw;
  height: 25%;
  border-radius: 20px;
}

.weekly-wrap:before {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: .5;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-color: rgb(35, 106, 229);
  background-position: 50% 0;
  background-size: cover;
  border-radius: 0px;
}

.detail-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 100%;
  max-width: 100vw;
  min-width: 100vw;
  height: 13%;
  border-radius: 20px;
}
.detail-wrap:before {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-color: rgb(35, 106, 229);
  background-position: 50% 0;
  background-size: cover;
  border-radius: 0px;
}


.detail-content {
  position: relative;
  text-shadow: 3px;
  font-size: 1.35em;
}


.no-location-content {
  position: relative;
  text-shadow: 3px;
  font-size: 1.35em;
}


.hourly{
  width: 100%;
  display: flex;
  font: 1em sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  text-shadow: 3px;
  font-size: 1.35em;
  height: 110vh;
}
} 